# DB
DATABASE_URL="postgresql://user:password@host:port/database?schema=public"


# Twitch API
# https://dev.twitch.tv/docs/authentication/getting-tokens-oauth/#implicit-grant-flow
PUBLIC_TWITCH_CLIENT_ID=
PUBLIC_TWITCH_REDIRECT_URI=
PUBLIC_TWITCH_RESPONSE_TYPE=
PUBLIC_TWITCH_SCOPE=
PUBLIC_TWITCH_STATE=
