---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Please wait...">
  <h1 class="text-white">Please wait...</h1>
</Layout>

<script>
  (async () => {
    const main = document.querySelector('main');
    if(window.location.search) {
      const queryParams = new URLSearchParams(window.location.search);
      const errorNode = document.createElement('p');
      errorNode.textContent = `Error: ${queryParams.get('error')}`;
      const errorDescriptionNode = document.createElement('p');
      errorDescriptionNode.textContent = queryParams.get('error_description');
      const linkNode = document.createElement('a');
      linkNode.textContent = 'Go back';
      linkNode.href = '/';
      main.replaceChildren(...[
        errorNode,
        errorDescriptionNode,
        linkNode,
      ]);
      return;
    }
    if(!window.location.hash) {
      window.location.href = '/';
      return;
    }
    const queryParams = new URLSearchParams(window.location.hash.split('#')[1]);
    document.cookie = `twitch-token=${queryParams.get('access_token')};max-age=${60 * 60 * 24}`;
    window.location.href = '/dashboard';
  })();
</script>
