<div class="flex gap-2 items-center text-sm">
  <div class="relative h-4 w-4">
    <div class="relative inline-flex rounded-full h-full w-full bg-gray-500"></div>
  </div>
  <span class="text-gray-400">bamboechop ist offline</span>
</div>
