---
import { CheckSquare, LayoutList, ListTodo, XOctagon } from 'lucide-astro';
import SingleStat from './SingleStat.astro';

const stats: { annotate?: { color?: string; show: boolean; type: 'box' | 'crossed-off' | 'highlight' | 'underline' }; cssClass?: string; icon: any; label: string; value: number }[] = [
  { annotate: { color: 'black', show: true, type: 'highlight' }, icon: LayoutList, label: 'Todos insgesamt:', value: 20 },
  { annotate: { color: 'limegreen', show: true, type: 'underline' }, cssClass: 'mt-[-14px] text-green-300', icon: CheckSquare, label: 'Todos erledigt:', value: 5 },
  { annotate: { color: 'lightskyblue', show: false, type: 'box' }, icon: ListTodo, label: 'Todos in Arbeit:', value: 15 },
  { annotate: { show: true, type: 'crossed-off' }, cssClass: 'text-gray-300', icon: XOctagon, label: 'Todos abgebrochen:', value: 5 },
];
---

<section class="flex flex-col gap-6">
  {stats.map((stat) => (
    <SingleStat amount={stat.value} annotate={stat.annotate} cssClass={stat.cssClass} title={stat.label}>
      <stat.icon class="shrink-0" size="24" slot="icon" />
    </SingleStat>
  ))}
</section>
