---
import { Image } from 'astro:assets';
import { LogOut } from 'lucide-astro';
import Stats from './Stats.astro';

interface Props {
  notesAmount: {
    cancelled: number;
    completed: number;
    inProgress: number;
    total: number;
  };
  imageUrl: string;
  name: string;
}

const { imageUrl, name, notesAmount } = Astro.props;
---

<aside class="bg-[#102269] bg-background-black-linen rounded-br-2xl after:pointer-events-none after:rounded-br-2xl after:content-[' '] after:-top-1.5 after:-left-1.5 after:w-full after:h-full after:absolute after:border-r-2 after:border-b-2 after:border-dashed after:border-indigo-400 flex flex-col gap-3 p-4 pr-5 pb-5 shadow-lg w-60 h-min font-sans relative">
  <h2 class="sr-only">Userinfo</h2>
  <section class="flex gap-3 items-center">
    <Image
      alt={name}
      class="rounded-full h-12 w-12"
      height="48"
      loading="eager"
      src={imageUrl}
      width="48" />
    <div class="flex flex-col gap-1 items-start">
      <h3 class="leading-snug font-semibold text-lg">{name}</h3>
      <button class="flex gap-1 items-center logout-button text-sm underline">
        <LogOut class="shrink-0" size="16" />
        Abmelden
      </button>
    </div>
  </section>
  <hr class="border-dashed border-t-2 border-indigo-400" />
  <Stats notesAmount={notesAmount} />
</aside>

<script>
  document.querySelector('.logout-button').addEventListener('click', () => {
    document.cookie = 'twitch-token=; expires=Thu, 01 Jan 1970 00:00:00 UTC';
    window.location.href = '/';
  });
</script>
