---
interface Props {
  class?: string;
  title: string;
}

const { class: className, title, ...rest } = Astro.props;

---

<!doctype html>
<html lang="de">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Alleine arbeiten kann sooooo langweilig sein. Melde dich mit deinem Twitch Account an, erstelle ein Todo und lass bamboechop und seine Zuseher wissen woran DU heute arbeitest." />
    <meta name="viewport" content="width=device-width" />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png?v=1">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png?v=1">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png?v=1">
    <link rel="manifest" href="/site.webmanifest?v=1">
    <link rel="mask-icon" href="/safari-pinned-tab.svg?v=1" color="#5bbad5">
    <link rel="shortcut icon" href="/favicon.ico?v=1">
    <meta name="msapplication-TileColor" content="#151609">
    <meta name="theme-color" content="#151609">
    <meta property="og:url" content="https://coworking.bamboechop.at">
    <meta property="og:type" content="website">
    <meta property="og:title" content="Coworking mit bamboechop">
    <meta property="og:description" content="Alleine arbeiten kann sooooo langweilig sein. Melde dich mit deinem Twitch Account an, erstelle ein Todo und lass bamboechop und seine Zuseher wissen woran DU heute arbeitest.">
    <meta property="og:image" content="/og-image.png">
    <meta name="twitter:card" content="summary_large_image">
    <meta property="twitter:domain" content="coworking.bamboechop.at">
    <meta property="twitter:url" content="https://coworking.bamboechop.at">
    <meta name="twitter:title" content="Coworking mit bamboechop">
    <meta name="twitter:description" content="Alleine arbeiten kann sooooo langweilig sein. Melde dich mit deinem Twitch Account an, erstelle ein Todo und lass bamboechop und seine Zuseher wissen woran DU heute arbeitest.">
    <meta name="twitter:image" content="/og-image.png">
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>

    <!-- Meta Tags Generated via https://opengraph.dev -->
  </head>
  <body class="bg-neutral-900 text-white">
    <main
      class="px-8 py-6"
      class:list={[className]} {...rest}>
      <slot />
    </main>
    <script is:inline src="/lib/htmx.min.js"></script>
  </body>
</html>
