---
import { Image } from 'astro:assets';
import { AstroFont } from 'astro-font';

interface Props {
	class?: string;
	title: string;
}

const { class: className, title, ...rest } = Astro.props;

const backgroundImageUrl = Astro.cookies.has('background-image-url') ? Astro.cookies.get('background-image-url').value : '/bg/1.png';
---

<!doctype html>
<html lang="de">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Alleine arbeiten kann sooooo langweilig sein. Melde dich mit deinem Twitch Account an, erstelle ein Todo und lass bamboechop und seine Zuseher wissen woran DU heute arbeitest." />
		<meta name="viewport" content="width=device-width" />
		<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png?v=1">
		<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png?v=1">
		<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png?v=1">
		<link rel="manifest" href="/site.webmanifest?v=1">
		<link rel="mask-icon" href="/safari-pinned-tab.svg?v=1" color="#5bbad5">
		<link rel="shortcut icon" href="/favicon.ico?v=1">
		<meta name="msapplication-TileColor" content="#151609">
		<meta name="theme-color" content="#151609">
		<meta property="og:url" content="https://coworking.bamboechop.at">
		<meta property="og:type" content="website">
		<meta property="og:title" content="Coworking mit bamboechop">
		<meta property="og:description" content="Alleine arbeiten kann sooooo langweilig sein. Melde dich mit deinem Twitch Account an, erstelle ein Todo und lass bamboechop und seine Zuseher wissen woran DU heute arbeitest.">
		<meta property="og:image" content="https://coworking.bamboechop.at/og-image.png">
		<meta name="twitter:card" content="summary_large_image">
		<meta property="twitter:domain" content="coworking.bamboechop.at">
		<meta property="twitter:url" content="https://coworking.bamboechop.at">
		<meta name="twitter:title" content="Coworking mit bamboechop">
		<meta name="twitter:description" content="Alleine arbeiten kann sooooo langweilig sein. Melde dich mit deinem Twitch Account an, erstelle ein Todo und lass bamboechop und seine Zuseher wissen woran DU heute arbeitest.">
		<meta name="twitter:image" content="https://coworking.bamboechop.at/og-image.png">
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<AstroFont config={[
			{
				name: 'Caveat',
				src: [
					{ style: 'regular', weight: '400', path: './public/fonts/Caveat/Caveat-Regular.ttf' },
					{ style: 'regular', weight: '600', path: './public/fonts/Caveat/Caveat-SemiBold.ttf' },
				],
				preload: true,
				display: 'swap',
				fallback: 'sans-serif',
			},
			{
				name: 'ComicNeue',
				src: [
					{ style: 'regular', weight: '400', path: './public/fonts/Comic_Neue/ComicNeue-Regular.ttf' },
					{ style: 'italic', weight: '400', path: './public/fonts/Comic_Neue/ComicNeue-Italic.ttf' },
					{ style: 'regular', weight: '700', path: './public/fonts/Comic_Neue/ComicNeue-Bold.ttf' },
					{ style: 'italic', weight: '700', path: './public/fonts/Comic_Neue/ComicNeue-BoldItalic.ttf' },
				],
				preload: true,
				display: 'swap',
				fallback: 'sans-serif',
			},
			{
				name: 'DancingScript',
				src: [
					{ style: 'regular', weight: '400', path: './public/fonts/Dancing_Script/DancingScript-Regular.ttf' },
					{ style: 'regular', weight: '600', path: './public/fonts/Dancing_Script/DancingScript-SemiBold.ttf' },
				],
				preload: true,
				display: 'swap',
				fallback: 'sans-serif',
			},
			{
				name: 'Mali',
				src: [
					{ style: 'regular', weight: '400', path: './public/fonts/Mali/Mali-Regular.ttf' },
					{ style: 'italic', weight: '400', path: './public/fonts/Mali/Mali-Italic.ttf' },
					{ style: 'regular', weight: '600', path: './public/fonts/Mali/Mali-SemiBold.ttf' },
					{ style: 'italic', weight: '600', path: './public/fonts/Mali/Mali-SemiBoldItalic.ttf' },
				],
				preload: true,
				display: 'swap',
				fallback: 'sans-serif',
			},
		]} />
		<style is:global lang="scss">
			* {
				&::-webkit-scrollbar {
					width: 4px;
				}

				&::-webkit-scrollbar-track {
					background: transparent;
				}

				&::-webkit-scrollbar-thumb {
					background-color: theme('backgroundColor.stone.800');
					border-radius: 10px;
				}
			}
		</style>
	</head>
	<body class="bg-[#230f01] bg-background-pattern flex items-center justify-center min-h-dvh">
		<main
			class="relative text-white text-lg w-full"
			class:list={[className]} {...rest}>
			<slot />
			<Image
				alt=""
				class="fixed bottom-1/3 left-[25px] -rotate-[22deg] drop-shadow-stationery"
				height="74px"
				src="/stationeries/rubber-eraser.png"
				width="215px" />
			<Image
				alt=""
				class="fixed bottom-[200px] left-[-161px] -translate-x-1/2 drop-shadow-stationery"
				height="32px"
				src="/stationeries/pencil-red.png"
				width="749px" />
			<Image
				alt=""
				class="fixed bottom-[166px] left-[-142px] -translate-x-1/2 drop-shadow-stationery"
				height="32px"
				src="/stationeries/pencil-orange.png"
				width="749px" />
			<Image
				alt=""
				class="fixed bottom-[132px] left-[-115px] -translate-x-1/2 drop-shadow-stationery"
				height="32px"
				src="/stationeries/pencil-silver.png"
				width="756px" />
			<Image
				alt=""
				class="fixed bottom-[98px] left-[-135px] -translate-x-1/2 drop-shadow-stationery"
				height="32px"
				src="/stationeries/pencil-green.png"
				width="756px" />
			<Image
				alt=""
				class="fixed bottom-[64px] left-[-100px] -translate-x-1/2 drop-shadow-stationery"
				height="32px"
				src="/stationeries/pencil-blue.png"
				width="751px" />
		</main>
		<script is:inline src="/lib/htmx.min.js"></script>
	</body>
</html>

<style define:vars={{ backgroundImageUrl }} is:global lang="scss">
	:root {
		--background-image-url: var(--backgroundImageUrl);
	}
</style>
