---
import { Image } from 'astro:assets';

interface Props {
  title: string;
}

const { title } = Astro.props;

const backgroundImageUrl = Astro.cookies.has('background-image-url') ? Astro.cookies.get('background-image-url').value : '/bg/1.png';
---

<!doctype html>
<html lang="de">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png?v=1">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png?v=1">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png?v=1">
    <link rel="manifest" href="/site.webmanifest?v=1">
    <link rel="mask-icon" href="/safari-pinned-tab.svg?v=1" color="#5bbad5">
    <link rel="shortcut icon" href="/favicon.ico?v=1">
    <meta name="msapplication-TileColor" content="#151609">
    <meta name="theme-color" content="#151609">
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body class="bg-[#230f01] bg-background-pattern flex items-center justify-center min-h-dvh">
    <main class="flex flex-col items-center justify-center min-h-dvh w-full p-8 text-white text-lg gap-4 relative overflow-hidden">
      <slot />
      <Image
        alt=""
        class="absolute hidden md:block bottom-[-50px] left-[-390px] -rotate-[37deg] drop-shadow-stationery"
        height="32px"
        src="/stationeries/pencil-red.png"
        width="749px" />
      <Image
        alt=""
        class="absolute hidden md:block bottom-[40px] right-[-240px] -rotate-[172deg] scale-x-100 -scale-y-100 drop-shadow-stationery"
        height="32px"
        src="/stationeries/pencil-orange.png"
        width="749px" />
      <Image
        alt=""
        class="absolute hidden md:block top-[32px] left-[-515px] rotate-[27deg] -scale-y-100 drop-shadow-stationery"
        height="32px"
        src="/stationeries/pencil-silver.png"
        width="756px" />
      <Image
        alt=""
        class="absolute hidden md:block top-[275px] right-[-435px] -scale-x-100 -scale-y-100 rotate-[40deg] drop-shadow-stationery"
        height="32px"
        src="/stationeries/pencil-green.png"
        width="756px" />
      <Image
        alt=""
        class="absolute hidden md:block top-[365px] right-[-485px] scale-x-100 -scale-y-100 rotate-[40deg] drop-shadow-stationery"
        height="32px"
        src="/stationeries/pencil-blue.png"
        width="751px" />
    </main>
  </body>
</html>

<style define:vars={{ backgroundImageUrl }} is:global lang="scss">
  :root {
    --background-image-url: var(--backgroundImageUrl);
  }
</style>
