---
interface Props {
  title: string;
}

const { title } = Astro.props;

const backgroundImageUrl = Astro.cookies.get('background-image-url')?.value ?? 'bg/1.png';
---

<!doctype html>
<html lang="de">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body class="bg-[#230f01] bg-background-pattern flex items-center justify-center min-h-dvh">
    <main class="flex flex-col items-center justify-center relative text-white text-lg gap-4">
      <slot />
    </main>
  </body>
</html>

<style define:vars={{ backgroundImageUrl }} is:global lang="scss">
  :root {
    --background-image-url: var(--backgroundImageUrl);
  }
</style>
