---
import { AstroFont } from 'astro-font';
---

<!doctype html>
<html lang="de">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Stream Overlay</title>
    <AstroFont config={[
      {
        name: 'Caveat',
        src: [
          { style: 'regular', weight: '400', path: './public/fonts/Caveat/Caveat-Regular.ttf' },
          { style: 'regular', weight: '600', path: './public/fonts/Caveat/Caveat-SemiBold.ttf' },
        ],
        preload: true,
        display: 'swap',
        fallback: 'sans-serif',
      },
      {
        name: 'ComicNeue',
        src: [
          { style: 'regular', weight: '400', path: './public/fonts/Comic_Neue/ComicNeue-Regular.ttf' },
          { style: 'italic', weight: '400', path: './public/fonts/Comic_Neue/ComicNeue-Italic.ttf' },
          { style: 'regular', weight: '700', path: './public/fonts/Comic_Neue/ComicNeue-Bold.ttf' },
          { style: 'italic', weight: '700', path: './public/fonts/Comic_Neue/ComicNeue-BoldItalic.ttf' },
        ],
        preload: true,
        display: 'swap',
        fallback: 'sans-serif',
      },
      {
        name: 'DancingScript',
        src: [
          { style: 'regular', weight: '400', path: './public/fonts/Dancing_Script/DancingScript-Regular.ttf' },
          { style: 'regular', weight: '600', path: './public/fonts/Dancing_Script/DancingScript-SemiBold.ttf' },
        ],
        preload: true,
        display: 'swap',
        fallback: 'sans-serif',
      },
      {
        name: 'Mali',
        src: [
          { style: 'regular', weight: '400', path: './public/fonts/Mali/Mali-Regular.ttf' },
          { style: 'italic', weight: '400', path: './public/fonts/Mali/Mali-Italic.ttf' },
          { style: 'regular', weight: '600', path: './public/fonts/Mali/Mali-SemiBold.ttf' },
          { style: 'italic', weight: '600', path: './public/fonts/Mali/Mali-SemiBoldItalic.ttf' },
        ],
        preload: true,
        display: 'swap',
        fallback: 'sans-serif',
      },
    ]} />
    <style is:global lang="scss">
      * {
        &::-webkit-scrollbar {
          width: 4px;
        }

        &::-webkit-scrollbar-track {
          background: transparent;
        }

        &::-webkit-scrollbar-thumb {
          background-color: theme('backgroundColor.stone.800');
          border-radius: 10px;
        }
      }
    </style>
  </head>
  <body class="bg-transparent">
    <slot />
  </body>
</html>
